/*particolarità*/
#intro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.linea {
    color: white;
    display: inline;
}

.logo {
    
    color: #549E7C;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 40.2px;
}

/*Sfondo*/

body {
     background-color: #082B45;
}

/*Menu*/
nav {
    text-align: center;
}

a {
    color: white;
}

/*Headings*/
h1 {
    color: #549E7C;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

h2 {
    color: #549E7C;
    font-family: "Courier New", Courier, monospace;
    margin-left: 25%;
    margin-right: 25%;
}

/*Paragrafi*/

p {
    text-align: left;
    color: white;
    font-family: "Courier New", Courier, monospace;
    margin-left: 25%;
    margin-right: 25%;
}


/*responsive design*/
@media (max-width:1024px) {
    #intro{
        margin-left: 5%;
        margin-right: 5%;
    }
    .logo {
        margin-left: 5%;
        margin-right: 5%;
    }
    h2{
        text-align: center;
    }
}
