<!DOCTYPE html>
<html lang="it-IT">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Noostale</title>
    </head>
    <body>
        <span class="logo">
         _   __                 __        __   
        / | / /___  ____  _____/ /_____ _/ /__ 
       /  |/ / __ \/ __ \/ ___/ __/ __ `/ / _ \
      / /|  / /_/ / /_/ (__  ) /_/ /_/ / /  __/
     /_/ |_/\____/\____/____/\__/\__,_/_/\___/ </span>
                                               
        {% include navigation.html %}
        {{ content }}
    </body>
</html>