<!DOCTYPE html>
<html lang="it-IT">
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css">
	<script data-ad-client="ca-pub-3738541567157675" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <title>Noostale</title>
    </head>
    <body>
        <span class="logo">Noostale</span>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>
